<div>
  <span>Form state: </span>
  <span>
    @if(userForm.touched) {
      Touched
    } @else {
      Untouched
    }
  </span>
  <span>
    @if(userForm.valid) {
      Valid
    } @else {
      Invalid
    }
  </span>
  <span>
    @if(userForm.pristine) {
      Pristine
    } @else {
      Dirty
    }
  </span>
</div>
<form [formGroup]="userForm" (ngSubmit)="logForm()">
  <label>Firstname:</label>
  <input type="text" name="firstname" formControlName="firstname" >
  <br/>
  <label>Lastname:</label>
  <input type="text" name="lastname" formControlName="lastname">
  <br/>
  <label>Street:</label>
  <input type="text" name="street" formControlName="street">
  <br/>
  <label>Zip:</label>
  <input type="text" name="zip" formControlName="zip">
  @if(!userForm.controls['zip'].pristine && userForm.controls['zip'].errors) {
    <div class="alert">
      Zipcode must have 5 digits
    </div>
  }
  <br/>
  <label>City:</label>
  <input type="text" name="city" formControlName="city">
  <br/>
  <label>Credit card:</label>
  <input type="password" name="cc" formControlName="cc">
  @if(userForm.controls['cc'].errors) {
    <div class="alert">
      {{userForm.controls['cc'].errors['creditCard'] }}
    </div>
  }
  <br/>
  <button type="submit">Submit</button>
</form>
