<div>
  <span>Form state: </span>
  <span>
    @if(form.touched) {
      Touched
    } @else {
      Untouched
    }
  </span>
  <span>
    @if(form.valid) {
      Valid
    } @else {
      Invalid
    }
  </span>
  <span>
    @if(form.pristine) {
      Pristine
    } @else {
      Dirty
    }
  </span>
</div>
<form #form="ngForm" (ngSubmit)="logForm(form.value)"  >
  <label>Firstname:</label>
  <input type="text" name="firstname" ngModel required>
  <br/>
  <label>Lastname:</label>
  <input type="text" name="lastname" ngModel>
  <br/>
  <label>Street:</label>
  <input type="text" name="street" ngModel>
  <br/>
  <label>Zip:</label>
  @if(zip.invalid && zip.dirty) {
    <div class="alert">Please enter a 5-digit zipcode</div>
  }
  <input type="text" name="zip" ngModel required pattern="[0-9]{5}"
         #zip="ngModel"
  >
  <br/>
  <label>City:</label>
  <input type="text" name="city" ngModel>
  <br/>
  <label>Credit card:</label>
  @if(cc.invalid) {
    <div class="alert">
      Please enter a valid credit card number
    </div>
  }
  <input type="password" name="cc" #cc="ngModel" ngModel appCreditCardValidator>
  <br/>
  <button type="submit">Submit</button>
</form>

